.page {
	display : none;
}
.page-active {
	display : block;
}
a,.datepickerimage {
	cursor: pointer;
	cursor: hand;
}

.datepickerimage:hover {
	cursor: pointer;
	cursor: hand;
}
.dateValue {
	padding-left: 0px;
}
.datepicker {
	z-index: 10;
}

.modal-header {
	background-color : #1ABC9C;
}

h4{
	color : #bdbdbd  ;
	text-align: center;
}

.modal-header h4 {
	color : white;
}

p {
	color : #1ABC9C;
}

p small {
	color : black;
}

.fui-document {
	height : 20vh;
}

